<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPedidoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64811/PedidoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPedidoService"
                contract="PedidoServiceReference.IPedidoService" name="BasicHttpBinding_IPedidoService" />
        </client>
    </system.serviceModel>
</configuration>